<div class="col-lg-6 set-alarm-form well">
    <h1 class="page-header">Schedule an Excuse</h1>

    <form class="form-inline" ng-submit="setAlarm()">
        <div class="form-group form-group-lg">
            <label for="dateInput">Set Time</label>
            <input ng-model="time" class="form-control" name="dateInput" id="dateInput" type="datetime-local" required autofocus value="" class="hasDatepicker">
        </div>

        <div class="form-group form-group-lg">
            <label for="excuseInput">Excuse</label> <select ng-model="excuse" ng-options="excuse.id as excuse.title for excuse in excuses" class="form-control">
            </select>
        </div>
        <div class="set-alarm">
        <button class="btn-lg btn-primary" type="submit">Set Excuse</button>
        </div>
    </form>
</div>

<div class="col-lg-3 alarm-instructions">
    <h3 class="sub-header">Emergency Service</h3>

    <p>Stuck in a bad spot? Don't waste your
    time! send us an SMS text to <b>(917) 791-6197</b> and we will bail you out.</p>
    <p>Include the trigger word for the excuse you want in the body of your message.</p>
    <p>Trigger words: mom, keys, website.</p>
    <p>Example trigger text: "How's mom doing? You have any updates?"</p>
</div>

<div class="col-lg-3 alarm-instructions well">
<h3 class="sub-header">Your Account Details</h3>

    <h5><i class="glyphicon glyphicon-user"></i> <b>User Name:</b> {{user.name}}</h5>
    <h5><i class="glyphicon glyphicon-envelope"></i> <b>Email:</b> {{user.email}}</h5>
    <h5><i class="glyphicon glyphicon-earphone"></i> <b>Phone:</b> {{user.phone}}</h5>
</div>

<div class="col-lg-12">
    <h2 class="page-header">Scheduled Excuses</h2>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Alarm ID</th>
                    <th>Date Time</th>
                    <th>Excuse</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="alarm in alarms">
                    <td>{{alarm.id}}</td>
                    <td>{{alarm.time | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                    <td>{{alarm.message}}</td>
                    <td><button ng-click="cancelAlarm(alarm.id)" class="btn btn-danger" type="button">Cancel</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>